/*****RESET*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

.main{
    margin: 0 auto;
    width: 1240px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
}

ul, ol, li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style: none;
}

a {
    text-decoration: none;
}