header{
    display: flex;
    .headerNav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 40px 100px;
    }
}

.headerLogo{
    width: 210px;
    height: 68px;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
}