.aboutUs {
    .bannerAbout {
        height: 223px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 15px;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    .container {
        width: 1023px;
        margin: 0 auto;
        .dropDown {
            margin-top: 30px;
        }
    }
}
