.appartSection {
    .appartHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.813rem;
        .appartDesc {
            h1 {
                font-size: 2.25rem;
                color: $red;
            }
            p {
                color: $red;
                font-size: 1.125rem;
                margin-top: 0.313rem;
            }
            ul {
                display: flex;
                align-items: center;
                margin: 1.25rem 0;
                li {
                    background-color: $red;
                    border-radius: $border;
                    padding: 0.313rem 0.938rem;
                    margin-right: 0.313rem;
                    font-size: 0.875rem;
                    color: white;
                }
            }
        }
        .hostCard {
            .host {
                display: flex;
                align-items: center;
                .hostName {
                    font-size: 1.125rem;
                    color: $red;
                    width: 5.813rem;
                    flex-wrap: wrap;
                }
                img {
                    height: 4rem;
                    width: 4rem;
                    border-radius: 100%;
                }
            }
        }
    }
    .description {
        display: flex;
        justify-content: space-between;
        gap: 1.25rem;
        width: 100%;
    }
}
