.home {
    border-radius: $border;
    section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        padding: 50px;
        background-color: $gray-light;
        margin: 40px 0;
        border-radius: $border;
    }
}
