article {
    position: relative;
    width: 340px;
    img {
        border-radius: $border;
        height: 344px;
        object-fit: cover;
        width: 100%;
    }
    h2 {
        color: white;
        bottom: 20px;
        left: 20px;
        position: absolute;
        font-size: 18px;
        width: 300px;
    }
}
