.dropDown {
    display: flex;
    flex-direction: column;
    border-radius: 0.313rem;
    width: 100%;
    margin-bottom: 1.563rem;
    .dropHeader {
        cursor: pointer;
        background-color: $red;
        height: 2.938rem;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: $border;
        color: white;
        font-size: 1.125rem;
        padding: 0 0.625rem;
        @media screen and (max-width: 425px) {
            font-size: 0.813rem;
            height: 1.496rem;
        }
        img {
            height: 2rem;
            width: 2rem;
            transition: all 0.3s ease-in-out;
            @media screen and (max-width: 425px) {
                height: 1.151rem;
                width: 1.151rem;
            }
            // padding: 5px;
        }
        img.true {
            transform: rotate(180deg);
        }
    }
    .text {
        font-size: 1.125rem;
        color: $red;
        background-color: $gray-light;
        border-radius: 0 0 0.938rem 0.938rem;
        padding: 50px 20px;
        margin: -0.938rem 0 0.938rem 0;
        @media screen and (max-width: 425px) {
            font-size: 0.813rem;
            padding: 30px 10px 10px 10px;
        }
    }
}
