.slide {
    position: relative;
    display: flex;
    align-items: center;
    .pictSlide {
        height: 415px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }
    .btn {
        cursor: pointer;
        position: absolute;
        height: 79px;
        width: 46px;
        background: transparent;
        border: none;
        text-indent: -3000px;
    }
    .prev,
    .next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 100%;
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
    .slideCount {
        position: absolute;
        bottom: 0;
        left: 50%;
        font-size: 18px;
        color: white;
    }
}
