.slide {
    position: relative;
    display: flex;
    align-items: center;
    .pictSlide {
        height: 25.938rem;
        width: 100%;
        @media screen and (max-width: 425px) {
            height: 20.938rem;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $border;
        }
    }
    .btn {
        cursor: pointer;
        position: absolute;
        height: 4.938rem;
        width: 2.875rem;
        background: transparent;
        border: none;
        text-indent: -3000rem;
    }
    .prev,
    .next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.125rem;
        height: 100%;
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
    .slideCount {
        position: absolute;
        bottom: 0;
        left: 50%;
        font-size: 1.125rem;
        color: white;
        @media screen and (max-width: 425px) {
            display: none;
        }
    }
}
